<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="~{partials/reusable :: head}"></th:block>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/CSS/inscription.css">
</head>

<body>

<header>
    <th:block th:insert="~{partials/reusable :: header}"></th:block>
</header>

<div class="d-flex justify-content-center">
    <div class="centre-vertical" style="min-width: 35vw">
        <div class="card mx-auto b-2 my-2">
            <div class="card-header text-center">
                <h4 th:text="${pageTitle}">Inscription</h4>
            </div>

            <div class="card-body">
                <form th:action="@{/inscription}" th:object="${user}" method="POST">
                    <div class="form-group">
                        <label>Email</label>
                        <input id="email" th:field="*{email}" type="email" name="email" class="form-control"
                               placeholder="exemple@gmail.com" autofocus required>
                    </div>

                    <div class="form-group">
                        <span id="msg_email"></span>
                    </div>
                    <label>Mot de passe</label>
                    <div class="form-group visibility_password">
                        <input id="mdp1" th:field="*{password}" type="password" name="password" class="form-control"
                               placeholder="hyper_secure" required>
                        <div class="password-icon">
                            <span class="material-symbols-outlined visibility" id="visibility1OK">
                                visibility
                            </span>
                            <span class="material-symbols-outlined visibilityOff" id="visibility1OFF" style="display: none;">
                                visibility_off
                            </span>
                        </div>
                    </div>

                    <label>Confirmation du mot de passe</label>
                    <div class="form-group visibility_password">
                        <input id="mdp2" type="password" name="password2" class="form-control"
                               placeholder="hyper_secure" required>
                        <div class="password-icon">
                            <span class="material-symbols-outlined visibility" id="visibility2OK">
                                visibility
                            </span>
                            <span class="material-symbols-outlined visibilityOff" id="visibility2OFF" style="display: none;">
                                visibility_off
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Nom</label>
                        <input id="nom" th:field="*{lastName}" type="text" name="nom" class="form-control"
                               placeholder="John" required/>
                    </div>

                    <div class="form-group">
                        <label>Prénom</label>
                        <input id="prenom" th:field="*{firstName}" type="text" name="prenom" class="form-control"
                               placeholder="Wick" required/>
                    </div>

                    <div class="mt-3 alert alert-danger" role="alert" th:if="${error != null}">
                        <span th:text="${error}"></span>
                    </div>

                    <div class="text-center mt-4">
                        <button class="btn btn-primary" onclick="return checkPasswordMatch()">
                            S'inscrire
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

<footer>
    <th:block th:insert="~{partials/reusable :: footer}"></th:block>
</footer>

<script>
    function checkPasswordMatch() {
        const password1 = document.querySelector("#mdp1").value;
        const password2 = document.querySelector("#mdp2").value;

        if (password1 !== password2) {
            alert("Passwords do not match.");
            return false;
        }
        return true;
    }

    const togglePasswordVisibility = (passwordField, visibilityIcon, visibilityOffIcon) => {
        visibilityIcon.addEventListener("click", () => {
            visibilityIcon.style.display = "none";
            visibilityOffIcon.style.display = "block";
            passwordField.type = "text";
        });

        visibilityOffIcon.addEventListener("click", () => {
            visibilityOffIcon.style.display = "none";
            visibilityIcon.style.display = "block";
            passwordField.type = "password";
        });
    };

    const passwordField1 = document.querySelector("#mdp1");
    const visibility1 = document.querySelector("#visibility1OK");
    const visibility1Off = document.querySelector("#visibility1OFF");

    const passwordField2 = document.querySelector("#mdp2");
    const visibility2 = document.querySelector("#visibility2OK");
    const visibility2Off = document.querySelector("#visibility2OFF");

    togglePasswordVisibility(passwordField1, visibility1, visibility1Off);
    togglePasswordVisibility(passwordField2, visibility2, visibility2Off);
</script>
</html>
